* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Proxima nova', sans-serif;
    accent-color: #003B45;
}

.forside-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    background-color: #003B45;
    color: #C1E0E4;
    height: 40px;
    font-weight: 600;
}
.forside-header .fa-solid {
    padding-left: 20px;
}

.feedback-skema-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00B5AF;
    color: white;
}

.feedback-skema-tekst {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}

.spørgsmål {
    margin: 0 auto;
}
input[type="radio"] {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }
  