@import url("https://use.typekit.net/ilc5kna.css");

/*BRØDTEKST
font-family: "proxima-nova", sans-serif;
font-weight: 400;
font-style: normal;
*/
/*H1
Proxima Nova Extrabold
font-family: "proxima-nova", sans-serif;
font-weight: 800;
font-style: normal;
*/
/*H2
Proxima Nova Semibold
font-family: "proxima-nova", sans-serif;
font-weight: 600;
font-style: normal;
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Proxima nova', sans-serif;
}

.forside-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    background-color: #003B45;
    color: #C1E0E4;
    height: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.forside-header .fa-solid {
    padding-left: 20px;
}

.gode-råd-til-feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00B5AF;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.gode-råd-til-feedback-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.gode-råd-til-feedback-underoverskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 20px;
}

.forside-hr {
    border-right: none;
    border-right: none;
    border-bottom: none;
    border-top: 3px dotted rgb(255, 255, 255);
    width: 70%;
}

.god-feedback {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 100px;
}

.god-feedback img {
    width: 350px;
    height: 250px;
    border: 25px solid #C1E0E4;
    background-color: white;
}

div.god-feedback img {
    object-fit: contain;
}

.den-gode-feedback-wrapper {
    text-align: center;
    font-family: "proxima-nova", sans-serif;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (max-width: 1080px) {
    .god-feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
    }

    .den-gode-feedback-wrapper {
        margin: 20px;
    }
}

.footer-boks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #003B45;
    color: white;
    margin-top: 75px;
    height: 250px;
    padding-top: 50px;
    padding-bottom: 90px;
    line-height: 35px;
}

.footer-logo {
    width: 200px;
    height: auto;
}

@media only screen and (max-width: 1080px) {
    .footer-logo {
        width: 150px;
        height: auto;
    }
}


.rights-reserved {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00B5AF;
    color: white;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-kontakt {
    text-align: right;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.genveje-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.kontakt-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.footer-link {
    color: white;
}