* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.forside-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    background-color: #003B45;
    color: #C1E0E4;
    height: 40px;
}

.gode-råd-til-feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00B5AF;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.burger-modellen {
    width: 300px;
    height: auto;
    background-color: #C1E0E4;
    padding: 20px;
}

.god-feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

.god-feedback-tekst {
    margin-left: 55px;
}