@import url("https://use.typekit.net/ilc5kna.css");

/*BRØDTEKST
font-family: "proxima-nova", sans-serif;
font-weight: 400;
font-style: normal;
*/
/*H1
Proxima Nova Extrabold
font-family: "proxima-nova", sans-serif;
font-weight: 800;
font-style: normal;
*/
/*H2
Proxima Nova Semibold
font-family: "proxima-nova", sans-serif;
font-weight: 600;
font-style: normal;
*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Proxima nova', sans-serif;
}

.forside-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    background-color: #003B45;
    color: #C1E0E4;
    height: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.forside-header .fa-solid {
    padding-left: 20px;
}

.den-gode-feedback-header {
    background-color: #00B5AF;
    height: 200px;
}

.badge-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    padding: 100px;
    margin-top: -150px;
    border-radius: 25px;
    line-height: 30px;
}

.badge-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.badge-underoverskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.badge-progress-container{
    width: 100%;
    padding: 30px 30px 50px;
    background-color: white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
} 
.skills:not(:last-child){
    margin-bottom: 30px;
}
.bar{
    position: relative;
    border-radius: 5px;
    background-color: #E6E6E6;
}
.badge {
    text-align: center;
    max-width: 60%;
    min-width: 320px;
}
.badge-tekst {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}
.bar div{
    position: relative;
    width: 0;
    height: 15px;
    border-radius: 5px;
    background-color: #00B5AF   ;
}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 50%;
    }
}
.badge-pil-videre {
    text-align: center;
}

.afslut-feedback-skema {
    background-color: #C1E0E4;
    border: none;
    font-size: 24px;
    font-weight: 600;
    padding: 11px 35px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin-left: 50px;
}
.afslut-feedback-skema:hover {
    background-color: #00B5AF;
    color: white; 
}
.badge-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.badge-images img {
    width: 30%;
}
.afslut-button-wrapper {
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-right: 30px;
    position: fixed;
}

.footer-boks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #003B45;
    color: white;
    margin-top: 75px;
    height: 250px;
    padding-top: 50px;
    padding-bottom: 90px;
    line-height: 35px;
}

.footer-logo {
    width: 200px;
    height: auto;
}

.rights-reserved {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00B5AF;
    color: white;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-kontakt {
    text-align: right;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.genveje-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.kontakt-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.footer-link {
    color: white;
}
@media only screen and (max-width: 900px) {
    .badge-wrapper {
        margin-left: 0%;
        margin-right: 0%;
        padding: 10%;
        text-align: center;
    }
    .badge {
        max-width: 320px;
    }
    .afslut-feedback-skema {
        display: inline-block;
    }
    .badge-images img {
        width: 70%;
    }
    .badge-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-logo {
        width: 150px;
        height: auto;
    }
  }