@import url("https://use.typekit.net/ilc5kna.css");

/*BRØDTEKST
font-family: "proxima-nova", sans-serif;
font-weight: 400;
font-style: normal;
*/
/*H1
Proxima Nova Extrabold
font-family: "proxima-nova", sans-serif;
font-weight: 800;
font-style: normal;
*/
/*H2
Proxima Nova Semibold
font-family: "proxima-nova", sans-serif;
font-weight: 600;
font-style: normal;
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Proxima nova', sans-serif;
}

.forside-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    background-color: #003B45;
    color: #C1E0E4;
    height: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.forside-header .fa-solid {
    padding-left: 20px;
}

.velkomst-tekst-tidligere-feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00B5AF;
    color: white;
}

.tidligere-feedback-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.tidligere-feedback-tekst {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.tidligere-feedback-boks {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C1E0E4;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tidligere-feedback-accordion {
    background-color: white;
    width: 70%;
    height: 50px;
    border: none;
}

.tidligere-feedback-indhold {
    background-color: white;
    width: 70%;
    height: 50px;
    text-align: center;
}