* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.forside-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    background-color: #003B45;
    color: #C1E0E4;
    height: 40px;
}

.velkomst-tekst-tidligere-feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00B5AF;
    color: white;
}

.tidligere-feedback-tekst {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}

.tidligere-feedback-boks {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C1E0E4;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
}

.tidligere-feedback-accordion {
    background-color: white;
    width: 70%;
    height: 50px;
    border: none;
}

.tidligere-feedback-indhold {
    background-color: white;
    width: 70%;
    height: 50px;
    text-align: center;
}