@import url("https://use.typekit.net/ilc5kna.css");

/*BRØDTEKST
font-family: "proxima-nova", sans-serif;
font-weight: 400;
font-style: normal;
*/
/*H1
Proxima Nova Extrabold
font-family: "proxima-nova", sans-serif;
font-weight: 800;
font-style: normal;
*/
/*H2
Proxima Nova Semibold
font-family: "proxima-nova", sans-serif;
font-weight: 600;
font-style: normal;
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Proxima nova', sans-serif;
}

.forside-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    background-color: #003B45;
    color: #C1E0E4;
    height: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.forside-hr {
    border-right: none;
    border-right: none;
    border-bottom: none;
    border-top: 3px dotted rgb(255, 255, 255);
    width: 100%;
  }
.forside-header .fa-solid {
    padding-left: 20px;
}

.velkomst-tekst-tidligere-feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00B5AF;
    color: white;
}

.tidligere-feedback-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.tidligere-feedback-tekst {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    text-align: center;
    font-style: normal;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C1E0E4;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tidligere-feedback-accordion {
    background-color: white;
    width: 80%;
    height: 20%;
}

.tidligere-feedback-indhold {
    background-color: white;
    width: 80%;
    height: 150px;
    text-align: center;
    display: none;
    overflow: hidden;
    margin-top: -18px;
    border-radius: 6px;
}
.tidligere-feedback-indhold p{
    margin-top: 20px;
}
.active,
.tidligere-feedback-indhold:hover {
    background-color: white;
}
.footer-boks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #003B45;
    color: white;
    margin-top: 75px;
    height: 250px;
    padding-top: 50px;
    padding-bottom: 90px;
    line-height: 35px;
}

.footer-logo {
    width: 200px;
    height: auto;
}
.rights-reserved {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00B5AF;
    color: white;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-kontakt {
    text-align: right;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.genveje-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.kontakt-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.footer-link {
    color: white;
}
@media only screen and (max-width: 1080px) {
    .god-feedback {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
    }
    .den-gode-feedback-wrapper {
        margin: 20px;
    }
    .footer-logo {
        width: 150px;
        height: auto;
    }
  }

.rights-reserved {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00B5AF;
    color: white;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-kontakt {
    text-align: right;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.genveje-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.kontakt-overskrift {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
}
#kassen{
    display: flex;
    flex-direction: column;
    margin-left: 68%;
    margin-top: 42px;
    position: absolute; 
    z-index: 5;
    cursor: pointer;
  }
 #sorter{
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #003B45;
 }
  #knap1, #knap2, #knap3{
  height: 33px;
  width: 132px;
  align-items: start;
  text-decoration: none;
  border: 0px;
  background-color: rgb(247, 246, 246);
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #6e6e6e;
  cursor: pointer;
}
#knap1, #knap2, #knap3 :active {
    border-style: outset;
}
.en, .to, .tre, .fire, .fem, .seks, .syv, .otte {
    background-color: white;
    margin-top: 10px;
    width: 80%;
    height: 20%;
    border-radius: 6px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 550;
    font-style: normal;
    border: none;
    margin-bottom: 10px;
    color: #003B45;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    cursor: pointer;
}
.besvaret-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.besvaret-tekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.besvaret {
    margin-left: 20px;
    margin-top: 8px;
}
.tidligere-feedback-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tidligere-feedback-img img{
    transform: scale(0.8);
}
#ikon-besvaret {
    height: 20px;
}
#plus {
    align-items: flex-end;
    height: 15px;
    margin-right: 15px;
}
@media only screen and (max-width: 1080px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
    .tidligere-feedback-img img{
        transform: scale(0.8);
        margin: 0px -200px 0px ;
    }
  }
  @media only screen and (max-width: 600px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }
    .tidligere-feedback-img img{
        transform: scale(0.6);
    }
  }

